# Assignment 2

## 1. What is a List?

List is ordered data type in python.
List is enclosed by square brackets [].
List is mutable (changable). we can add, delete, update in list.
List items are comma seperated
Duplicates items are allowed in list.

## 2. What is a Tuple?

Tuple is ordered data type.
Tuple is enclosed by round brackets ().
Tuple is immutable.
Tuple items are comma seperated.
Duplicates items are allowed in list.

## 3. What is the difference between List and Tuple?

In [ ]:
1. List is mutable vs Tuple is immutable.
2. List is enclosed by square brackets [] vs Tuple is enclosed by round brackets ().
3. List is more functional vs Tuple is less functional.
4. List is slower than tuple vs Tuple is faster than list.
5. List is heavier due to the mutability vs Tuple is light than list.

## 4. Python Program to find the largest element in the list

In [1]:
a = [0,26,45,32,95,62,5,3,88,45,99,10,3]
max(a)

99

## 5. Python program to interchange first and last elements in a list.

In [2]:
a = [0,1,2,3,4,5,6,7,8,9]
a[0],a[-1] = a[-1],a[0]
a

[9, 1, 2, 3, 4, 5, 6, 7, 8, 0]

## 6. Python program to swap two elements in a list

In [3]:
list = [0,1,2,3,4,5,6,7,8,9]
index1 = 3
index2 = 6

list[index1],list[index2] = list[index2], list[index1] 
print(list)

[0, 1, 2, 6, 4, 5, 3, 7, 8, 9]

## 7. Python program to Reverse a List

In [4]:
list = [0,1,2,3,4,5,6,7,8,9]
list.reverse()
list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [5]:
list = [0,1,2,3,4,5,6,7,8,9]
list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 8. Python program to count occurrences of an element in a list

In [6]:
list = [0,2,4,5,6,6,5,3,1,5,9,4,6,3]
list.count(5)

3

In [7]:
list = [0,2,4,5,6,6,5,3,1,5,9,4,6,3]
a = 5
list.count(a)
print('count of 5 is:', list.count(a))

count of 5 is: 3

In [8]:
list = [0,2,4,5,6,6,5,3,1,5,9,4,6,3]
for i in list[0:len(list)]:
    x = list.count(i)
    print(f"Number:{i}={x}")

Number:0=1
Number:2=1
Number:4=2
Number:5=3
Number:6=3
Number:6=3
Number:5=3
Number:3=2
Number:1=1
Number:5=3
Number:9=1
Number:4=2
Number:6=3
Number:3=2

## 9. Python program to find the sum of elements in a list

In [12]:
list = [0,2,4,5,6,6,5,3,1,5,9,4,6,3]
x = sum(list)
x

59

In [13]:
list = [0,2,4,5,6,6,5,3,1,5,9,4,6,3]
sum=0
for i in list[0:len(list)]:
    sum+=i
print(f"Sum of list {list} is {sum}")

Sum of list [0, 2, 4, 5, 6, 6, 5, 3, 1, 5, 9, 4, 6, 3] is 59

## 10. Python program to Multiply all numbers in the list

In [14]:
numbers = [0,3,5,6,8,9,1,2]
mult = 1
for i in numbers:
    mult *= i
print(mult)

0

In [15]:
numbers = [3,5,6,8,9,1,2]
mult = 1
for i in numbers:
    mult *= i
print(mult)

12960

## 11. What are the ways to find the length of a list

In [16]:
list = [0,2,3,5,6,4,8,9,9,1,3,2]
len(list)

12

In [17]:
list = [0,2,3,5,6,4,8,9,9,1,3,2]
len = 0
for i in list:
    len += 1
print("Length of the list is :", len)

Length of the list is : 12

## 12. Python program to find the smallest and largest number in a list (Without min-max function)

In [30]:
l1 = [0,2,3,5,6,4,8,9,9,1,3,2]
l1.sort()
print(l1)

print("Smallest number is :", l1[0])
print("Largest number is :", l1[-1])

[0, 1, 2, 2, 3, 3, 4, 5, 6, 8, 9, 9]
Smallest number is : 0
Largest number is : 9

## 13. Python Program to find the area of a circle

In [31]:
x = float(input("Enter the Radius of a Circle:"))
area = 3.14*(x**2)
print(area)

Enter the Radius of a Circle: 2.52

19.940256

## 14. Take inputs from the user to make a list. Again take one input from the user and delete that element from a list.

## 15. You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)
i. Input_list = [2,5,6,12]
ii. Output_list = [4,25,36,144]

In [42]:
x = [2,5,6,12]
z = []

for i in x:
    a = i*i
    z.append(a)
print(z)

[4, 25, 36, 144]

## 16. WAP to create two lists, one containing all even numbers and the other containing all odd numbers between 0 to 151

In [3]:
odd_numbers = []
even_numbers = []
for i in range(1,152):
    if i % 2 != 0:
        odd_numbers.append(i)
    else:
        even_numbers.append(i)

print(f'List of odd numbers is :{odd_numbers}')
print(f'List of even numbers is :{even_numbers}')

List of odd numbers is :[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
List of even numbers is :[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]

## 17. Python program to Count Even and Odd numbers in a List

In [17]:
l1 = [2,6,3,1,9,9,8,4,2,10]
even_count = 0
odd_count = 0
for i in l1:
    if i%2!=0:
        odd_count+=1
    else:
        even_count+=1
print("Total even number in list is :",even_count)
print("Total odd number is list is :",odd_count)

Total even number in list is : 6
Total odd number is list is : 4

## 18. WAP to make new lists, containing only numbers which are divisible by 4, 6, 8, 10, 3, 5, 7, and 9 in separate lists for range(0,151)

In [18]:
divisible_by_4 = []
divisible_by_6 = []
divisible_by_8 = []
divisible_by_10 = []
divisible_by_3 = []
divisible_by_5 = []
divisible_by_7 = []
divisible_by_9 = []

for i in range(0,151):
    if i%4 == 0:
        divisible_by_4.append(i)
    if i%6 == 0:
        divisible_by_6.append(i)
    if i%8 == 0:
        divisible_by_8.append(i)
    if i%10 == 0:
        divisible_by_10.append(i)
    if i%3 == 0:
        divisible_by_3.append(i)
    if i%5 == 0:
        divisible_by_5.append(i)
    if i%7 == 0:
        divisible_by_7.append(i)
    if i%9 == 0:
        divisible_by_9.append(i)

print("Numbers divisible by 3 :", divisible_by_3)
print("Numbers divisible by 4 :", divisible_by_4)
print("Numbers divisible by 5 :", divisible_by_5)
print("Numbers divisible by 6 :", divisible_by_6)
print("Numbers divisible by 7 :", divisible_by_7)
print("Numbers divisible by 8 :", divisible_by_8)
print("Numbers divisible by 9 :", divisible_by_9)
print("Numbers divisible by 10 :", divisible_by_10)

Numbers divisible by 3 : [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150]
Numbers divisible by 4 : [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]
Numbers divisible by 5 : [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]
Numbers divisible by 6 : [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150]
Numbers divisible by 7 : [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147]
Numbers divisible by 8 : [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144]
Numbers divisible by 9 : [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144]
Numbers divisible by 10 : [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

## 19. Given a list containing elements of different types (integers, strings, and floats), create three separate lists to store integers, strings, and floats respectively.

In [20]:
l1 = [0,1,2,6,5,3.14,8.00,9.99,'a',"Python",100.00,'data']
Integer = []
Float = []
String = []

for i in l1:
    if type(i)==int:
        Integer.append(i)
    if type(i)==float:
        Float.append(i)
    else:
        String.append(i)

print(f'Integers :{Integer}')
print(f"Floats :{Float}")
print(f'Strings :{String}')

Integers :[0, 1, 2, 6, 5]
Floats :[3.14, 8.0, 9.99, 100.0]
Strings :[0, 1, 2, 6, 5, 'a', 'Python', 'data']

## 20. What’s The Difference Between The Python append() and extend() Methods?

In [ ]:
append():
         This method is used for add single element in the list.
         Add element at the last index.
extend():
         This method is used to add multiple elements in the list (eg. multiple items,list,tuple)
         Add elements at the last index.

## 21. Write a Python program to append a list to the second list

In [21]:
l1 = [0,1,2,6,8,9]
l1.append(["Python",10,99,'Data'])
l1

[0, 1, 2, 6, 8, 9, ['Python', 10, 99, 'Data']]

## 22. Write a Python program to find the third-largest number in a list

In [23]:
x = [0,5,3,6,12,45,66,53,61,9,63,40]
x.sort()
print(x)
print(f'3rd largest number in list is :{x[-3]}')

[0, 3, 5, 6, 9, 12, 40, 45, 53, 61, 63, 66]
3rd largest number in list is :61

## 23. Write a Python program to check whether a list contains a sublist

In [28]:
l1 = [0,2,55,(0,1,99),5,00,[0,1,2],]
for i in l1:
    if type(i) == list:
        print('list contains sublist')
        break
    else:
        print('list not contains sublist')

list not contains sublist
list not contains sublist
list not contains sublist
list not contains sublist
list not contains sublist
list not contains sublist
list contains sublist

In [29]:
l1 = [0,2,55,(0,1,99),5,00,[0,1,2],]
for i in l1:
    if type(i) == list:
        print('list contains sublist')
        break
else:
    print('list not contains sublist')

list contains sublist

## 24. Write a Python program to generate all sublists of a list

## 25. Write a Python program to find common items from two lists

In [30]:
l1 = [0,1,2,3,4,5]
l2 = [4,5,6,7,8,9]
x = set(l1).intersection(set(l2))
print(x)

{4, 5}

## 26. How to flatten a list in Python?

In [35]:
a=[[1,23,4],[1,2],[1,2,3,4]]
f=[]
for i in a:
    for j in i:
        f.append(j)
print(f)

[1, 23, 4, 1, 2, 1, 2, 3, 4]

## 27. How to sort a list in ascending and descending order without using the sort function?

In [38]:
a=[0,5,4,3,6,2,5,4,1,8,9,8]
n=len(a)
for i in range(n):
    max_=i
    for j in range(i+1,n):
        if a[j]>a[max_]:
            max_=j
 
    a[i],a[max_]=a[max_],a[i] 
print(a)

[9, 8, 8, 6, 5, 5, 4, 4, 3, 2, 1, 0]

In [39]:
a=[0,5,4,3,6,2,5,4,1,8,9,8]
n=len(a)
for i in range(n):
    max_=i
    for j in range(i+1,n):
        if a[j]<a[max_]:
            max_=j
 
    a[i],a[max_]=a[max_],a[i] 
print(a)

[0, 1, 2, 3, 4, 4, 5, 5, 6, 8, 8, 9]

## 28. How to sort a tuple?

In [43]:
1. First we need to convert tuple in list then sort
    x = (5,8,6,3,4,9,9,0,2,7)
    y = list(x)
    z = y.sort()
    print(y)
    t = tuple(y)
    print(t)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 9]
(0, 2, 3, 4, 5, 6, 7, 8, 9, 9)

In [44]:
2. Using inbuilt function #sorted()
    x = (5,8,6,3,4,9,9,0,2,7)
    z = sorted(x)
    z

[0, 2, 3, 4, 5, 6, 7, 8, 9, 9]

## 29. Write a Python program to convert a list of multiple integers into a single integer [11, 33, 50] >>> 113350

In [45]:
x = [11, 33, 50]
for i in x:
    print(i,end='')

113350

## 30. What is the difference between del and clear?

In [ ]:
del is used for delete any specific item from list.
clear is used to remove all items from the list.

In [46]:
x = [1,2,3,4,5]
del x[3]
print(x)

[1, 2, 3, 5]

In [48]:
x = [1,2,3,4,5]
x.clear()
print(x)

[]

## 31. What is the difference between remove and pop?

In [49]:
in remove function we remove the item by giving the direct value of that item.

x = [10,20,30,40,50]
x.remove(30)
x

[10, 20, 40, 50]

In [50]:
in pop function we remove the item by giving its index number.

x = [10,20,30,40,50]
x.pop(2)
x

[10, 20, 40, 50]

## 32. What is the difference between indexing and Slicing?

In [51]:
indexing gives the value of that particular index numbers from the list.
In below example we want value at the 2nd index nuber then it will return the value at that particular index number.

x = [10,20,30,40,50]
x[2]

30

In [52]:
slicing function is used to access any sequence or any particular part from the list.
In below example we want the starting 3 items from the list then we use slicing method where [0:3] where 0 indicates the 1st value and 2 indicates the last value.

x = [10,20,30,40,50]
x[0:3]

[10, 20, 30]

## 33. What is the difference between sort and sorted?

In [ ]:
sort method is used for sort list in that place.
                   v/s
sorted method is built in function used for the sort the list.

In [54]:
x = [11,20,51,30,23,27,99,0,12,36]
x.sort()
x

[0, 11, 12, 20, 23, 27, 30, 36, 51, 99]

In [57]:
x = [11,20,51,30,23,27,99,0,12,36]
y = sorted(x)
print(x)
print(y)

[11, 20, 51, 30, 23, 27, 99, 0, 12, 36]
[0, 11, 12, 20, 23, 27, 30, 36, 51, 99]

## 34. What is the difference between reverse and reversed?

In [58]:
reverse is used to reverse the all elements from the list.

x = [10,20,30,40,50]
x.reverse()
x

[50, 40, 30, 20, 10]

In [59]:
reversed alse reverse the all elements from the list in reverse manner but it need to assign new variable to print it.

x = [10,20,30,40,50]
y = list(reversed(x))
print(x)
print(y)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

## 35. What is the difference between copy and deep copy?

## 36. How to check whether the list is empty or not?

In [67]:
x = [1,2,3,4,5]
if len(x) == 0:
    print(f"List is {x} is empty")
else:
    print(f" List is {x} not empty")

 List is [1, 2, 3, 4, 5] not empty

In [68]:
x = []
if len(x) == 0:
    print(f"List is {x} is empty")
else:
    print(f" List is {x} not empty")

List is [] is empty

## 37. How to concatenate two lists?

In [66]:
x = [1,2,3,4,5]
y = [6,7,8,9,10]
c = a+b
print(c)

[4, 2, 6, 8, 1, 2, 6, 6, 8, -1, 2, -1]

## 38. Given a list of integers, create a new list where each element is replaced by the next largest number in the original list. If there is no larger number, replace the element with -1.
input_list = [4, 2, 6, 8, 1, 2]
output_list = [6, 6, 8, -1, 2, -1]

In [65]:
a = [4,2,6,8,1,2]
b = []
for i in range(len(a)):
    
    
    for j in range(i + 1, len(a)):
        if a[j] > a[i]:
            b.append(a[j])
            break
 
 
    else:
        b.append(-1)
print(b)

[6, 6, 8, -1, 2, -1]

## 39. Write a function to reverse the elements within each tuple in a list of tuples.
tuples = [(1, 2), (3, 4), (5, 6)]
Output: [(2, 1), (4, 3), (6, 5)]

In [61]:
t1= [(1, 2), (3, 4), (5, 6)]
t2=[]
for i in t1:
    print(t1)
    rev=tuple(reversed(i))
    t2.append(rev)
 
print(t2)

[(1, 2), (3, 4), (5, 6)]
[(1, 2), (3, 4), (5, 6)]
[(1, 2), (3, 4), (5, 6)]
[(2, 1), (4, 3), (6, 5)]

In [64]:
tuples = [(1, 2), (3, 4), (5, 6)]
tuples = [tuple(reversed(item)) for item in tuples]
tuples

[(2, 1), (4, 3), (6, 5)]

## 40. Write a function to add corresponding elements of tuples in two lists of tuples
list1 = [(1, 2), (3, 4)]
list2 = [(5, 6), (7, 8)]
Output: [(6, 8), (10, 12)]

In [60]:
list1 = [(1, 2), (3, 4)]
list2 = [(5, 6), (7, 8)]
list3=[]
for i in range(len(list1)):
    add_=()
    for j in range(len(list2[i])):
        add_+=(list1[i][j]+list2[i][j],)
    list3.append(add_)
print(list3)

[(6, 8), (10, 12)]